.Header{
    width: 90%;
    margin: auto;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Header img{
    width: 120px;
}
.Header .anchors{
    display: flex;
    gap: 50px;
}
.Header .anchors a{
    font-size: 18px;
}